<html>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src = "login.js" type="text/javascript"></script>

<body class="w3-container w3-margin">
  <style>
    iris {
      background-image: url("public/adventure-alpine-background-355770.jpg");
      background-repeat: no-repeat;
      height: 100;
      background-size: cover;
  }
</style>
    


<div class = "iris">
 
  <h2 class="w3-text-blue">Welcome to Login</h2>
  <div  id = "mainDiv">
  <div id="regDiv">
  <button class="w3-btn w3-blue" id="regBtn">New User Register</button></p>
</div>
<div id="loginDiv">
  <button class="w3-btn w3-blue" id ="loginBtn">Login</button></p>
</div>
<div id="dataDiv"></div>
</div>
<body>
</html>